/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/

# rspec failure tracking
.rspec_status
.byebug_history
.ruby-version

# ci config for local ci build
.circleci/local-config.yml
